<ul>
    {% for cards in site.cards %}
    {% if cards.highlight == true %}
    <li>
        <div class='cards big-cards-parent {{ cards.title | remove:" "}}'>
            <a href="{{ cards.link }}" rel="noreferrer" title="{{ cards.link-title }}" class='big-cards' target="_blank">
                <p>{{ cards.title }}</p>
                <h3>{{ cards.bigcardtitle }}</h3>
                <p>{{ cards.description }}</p>
                <h5>{{ cards.bigcardarea }}</h5>
            </a>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>