<ul>
    <li>
        <a href="https://www.behance.net/fernandocaldeira" rel="noreferrer" class="tertiary-btn" title="Click to see my Behance" class="vazia"
            target="_blank"><p>See my Behance<span>{% include svg-arrow.html %}</span></p></a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/fernandonunescaldeira/" rel="noreferrer" class="tertiary-btn" title="Click to see my LinkedIn" class="vazia"
            target="_blank">
            <p>See my LinkedIn<span>{% include svg-arrow.html %}</span></p></a>
    </li>
</ul>