@import "colors";
@import "typography";
@import "spacing";
@import "buttons";
@import "cards";

.myportrait {
  width: 272px;
  height: 272px;
}

.primary-btn {
  @include main-button;
  color: $c-secondary;
}

.secondary-btn {
  @include second-button;
  color: $c-secondary;
}

.tertiary-btn {
  @include third-button;
  @include standartBody;
  color: $c-primary;

  p {
    border-bottom: 2px solid $c-primary;
    .svg-arrow {
      fill: $c-primary;
    }
  }
}

.svg-arrow {
  fill: $c-secondary;
}

.mail-label {
  padding-bottom: $space-m;
}

.contacts-work {
  text-align: center;
}
