@import "colors";

@font-face {
  font-family: "Gilroy-Bold";
  src: url("fonts/Gilroy/Gilroy-Bold/Gilroy-Bold.woff");
}

@mixin bodyFonts {
  font-family: parisplus-std, sans-serif;
}

@mixin standartBody {
  @include bodyFonts;
  font-size: 20px;
  line-height: 30px;
}

@mixin mobileBody {
  @include bodyFonts;
  font-size: 18px;
  line-height: 28px;
}

@mixin desktopBody {
  @include bodyFonts;
  font-size: 16px;
  line-height: 24px;
}

@mixin bodyCaps {
  @include desktopBody;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin displayFonts {
  font-family: parisplus-sombre, Helvetica, Arial, sans-serif;
  color: $c-primary;
}

@mixin display1 {
  @include displayFonts;
  font-size: 70px;
  line-height: 90px;
}

@mixin display2 {
  @include displayFonts;
  font-size: 70px;
  line-height: 90px;
}

@mixin display3 {
  @include displayFonts;
  font-size: 39.06px;
  line-height: 50.8px;
}

@mixin display3-link {
  font-family: parisplus-sombre, sans-serif;
  font-size: 39.06px;
  line-height: 50.8px;
}

@mixin display4 {
  @include displayFonts;
  font-size: 31.25px;
  line-height: 40px;
}

@mixin display5 {
  @include displayFonts;
  font-size: 25px;
  line-height: 30px;
}

@mixin display5-link {
  font-family: parisplus-sombre, sans-serif;
  font-size: 25px;
  line-height: 30px;
}

@mixin display6 {
  @include displayFonts;
  font-size: 20px;
  line-height: 26px;
}
