---
layout: default_w-nav
---

<section class="section-contactos">
  <!--criar aqui uma div para meter a imagem à direita-->
  <h1>Contactos</h1>
  <p>O parque fabril da Primus Vitória conta com dois polos industriais em Aveiro. As peças fabricadas possuem um alto padrão de qualidade e conquistam clientes no mercado
    interno e externo.</p>

  <h2>Sede:</h2>
  <p>R. João Gonçalves Neto, Nº66</p>
  <p>Apartado 2 . 3811-801 Aradas</p>
  <p>Aveiro | Portugal</p>
  <p>40º 37' 09.85'' N | 8º 38' 22.14'' O</p>
  <p>telf. +351 234   400   500</p>
  <p>tlm. +351 919   280   777    +351 962   736   444</p>

  <h2>Expedição:</h2>
  <p>Rua Cabecinho das Pedras</p>
  <p>Zona Industrial de Taboeira</p>
  <p>3800-430 Aveiro | Portugal</p>
  <p>40º 39' 12.65'' N | 8º 36' 17.48'' O</p>
  <p>fax: +351 234   381   124</p>

  <a href="" title="">
    <h3>geral@primusvitoria.com</h3>
  </a>

  <div></div>

</section>

<section class="form-contactos">
  <ul class="square-shapes">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <h2>Envie-nos uma mensagem</h2>
  
</section>
