---
layout: default
---

<section>
    <h1>A Primus Vitoria</h1>
    <div>---</div>
    <p>Mais de 40 anos de paixão pelo azulejo</p>
</section>

<section>
    <div>
        <h2>Uma empresa que cresce, um passo de cada vez</h2>
        <p>A laborar desde 1969 a Primus Vitória está mais próxima de si e do ambiente. Especializada em revestimento a empresa sofreu grandes mudanças desde o seu início adaptando-se às tecnologias e a um mercado cada vez mais exigente. O ambiente, a qualidade, a eficiência e a modernidade têm sido factores determinantes de mudança e actualização de forma a satisfazer os nossos clientes.</p>
    </div>
    <img src="" alt="">
</section>

<section>
    <img src="" alt="">
    <div>
        <h2>Do tradicional ao moderno</h2>
        <p>Dando continuidade à produção do azulejo tradicional, a Primus Vitória tem uma vasta paleta de cores e séries contemporâneas, acompanhando a arquitectura actual.</p>
    </div>
</section>