---
layout: default
---

<section class="section-banner-green">
    <div>
        <div></div>
    </div>
    <h1>“Só há futuro para quem promova o desenvolvimento sustentável das comunidades.”</h1>
</section>

<section class="section-politica-verde">
    <h2>Política Verde</h2>
    <p>A Primus Vitória prossegue uma política activa na área do ambiente, cujo principal eixo se orienta em torno da Sustentabilidade Ambiental.
        Neste quadro, apostamos na adopção de um comportamento responsável e pró-activo, considerando a preservação do ambiente como um factor indispensável na condução dos seus negócios e da sua evolução económica.</p>
    <div class="vertical-line"></div>
    <p></p>

    <ul>
        <li class="card-green hands">
            <svg>img</svg>
            <span></span>
            <p>Melhoria contínua do desempenho ambiental das suas actividades, produtos e serviços, e prevenção da poluição;</p>
        </li>
        <li class="card-green planet">
            <svg>img</svg>
            <span></span>
            <p>Satisfação das preocupações ambientais dos consumidores;</p>
        </li>
        <li class="card-green sheet">
            <svg>img</svg>
            <span></span>
            <p>Cumprimento da legislação ambiental aplicável e preparação para a futura regulamentação, bem como observância de outros requisitos relevantes;</p>
        </li>
        <li class="card-green head">
            <svg>img</svg>
            <span></span>
            <p>Adopção de boas práticas ambientais pelos seus colaboradores;</p>
        </li>
    </ul>
</section>

<section>
    <p>Assumimos um compromisso, um papel activo nas comunidades onde desenvolvemos a nossa actividade, colaborando com os parceiros de negócio, autoridades e instituições na protecção do ambiente, com as responsabilidades na óptica do desenvolvimento sustentável.</p>
</section>

<section class="section-agua">
    <div>
        <img src="" alt="">
    </div>

    <div>
        <h2>Água</h2>
        <p>A Primus Vitória é uma empresa com 42 anos de existência, gerido pela família Vitória. Desde o primeiro dia, o ambiente é uma das principais preocupações. Porque acreditamos que temos a responsabilidade de criar um mundo melhor, e deve ser o nosso legado para nossos filhos.</p>
        <p>A Primus recicla todos os resíduos produzidos pela fábrica, e estamos orgulhosos do nosso trabalho:</p>

        <h2>15 000 m3</h2>
        <p>de água por ano. </p>
        <p>Esta água é suficiente para usar em:</p>
        <p>_2 343 750 descargas de sanitas;</p>
        <p>_187 500 duches;</p>
    </div>
</section>

<section class="section-residuos">
    <div>
        <h2>Resíduos</h2>
        <p>A Primus recicla anualmente:</p>

        <h2>1.500 t</h2>
        <p>de resíduos de cerâmica, o suficiente para:</p>
        <p>_Produzir 1.100 toneladas de cascalho</p>
        <p>_usados para construir 785 m</p>
        <p>_de uma auto-estrada 28 metros de largura;</p>
    </div>

    <div>
        <img src="" alt="">
    </div>
</section>

<section class="section-energia">
    <div>
        <img src="" alt="">
    </div>

    <div>
        <h2>Energia</h2>
        <p>Na Primus Vitória utilizamos equipamentos modernos para o controle de velocidade (VVE) nas máquinas de grande porte, o que nos permite poupar 10-30% do nosso consumo de energia elétrica.</p>
        <p>A empresa consome</p>
        <h2>843 417 KWh</h2>
        <p>por mês de energia elétrica.</p>

        <p>Conseguimos re-aproveitar um mínimo de</p>
        <h2>84 342 KWh</h2>
        <p>o suficiente para:</p>
        <p>_Alimentar durante uma hora 281 139 lâmpadas;</p>
    </div>
</section>

<section class="section-papel">
    <div>
        <h2>Papel</h2>
        <p>O processo de reciclagem de papel reduz 74% da poluição atmosférica, economizando 35% de água e reduz o consumo energético em 66%. (www.ecopagina.home.sapo.pt)
            A reciclagem de 1 tonelada de papel economiza aproximadamente 2,5 barris de petróleo por dia. De 1 tonelada de papel reciclado usa apenas 2.000 l de água no processo de produção, mas no processo tradicional de produção de papel novo é usado 100 000 - 200 000 l de água.</p>

        <p>A primus Vitória</p>
        <h3>36 t</h3>
        <p>de papel e papelão.</p>

        <p>Isso é suficiente para:</p>
        <p>_Salvar cerca de 630 árvores por ano.</p>
        <p>_Economizar 90 barris de gasolina por ano ( 3576 L de Bensine e 4290 litros de diesel)</p>
            
        <p>_Um carro diesel consome 6,5 l/100 km, permitindo que um veículo possa cobrir 22 000 km.</p>
            
        <p>_Poupar 5 328 000 L de água.</p>
    </div>

    <div>
        <img src="" alt="">
    </div>

</section>

<section class="section-plastico">
    <div>
        <img src="" alt="">
    </div>

    <div>
        <h2>Plástico</h2>
        <p><span>1 tonelada</span> de plástico reciclado economiza <span>2,5 barris de petróleo.</span></p>
        <p>A primus Vitoria recicla</p>
        <h2>16,5 t</h2>
        <p>de plástico, o suficiente para:</p>
        <p>_salvar <span>41,25 barris</span> de gasolina (<span>1638 L e 1968 L de Bensine de Diesel</span>)</p>
    </div>
</section>