---
layout: default
---
<main class="page-home">
<section class="intro-banner">
  <h1>Vamos criar ambientes únicos</h1>
  <p class="slogan-to-h1">Esta é a nossa paixão, a arte de fazer <span>azulejos</span></p>
  <div class="banner-subtitle">
    <svg></svg>
    <p>Série I - Brilho 001.0 (Branco) 20x20 + 301.0 (Antracite) 20x20</p>
  </div>
</section>

<section class="four-sections">
  <div class="one-lotus lotus">
    <div class="lotus-content">
    <h2>A primus Vitoria</h2>
    <div>---</div>
    <p>Ambiente, tecnologia, qualidade e sustentabilidade, são algumas palavras presentes na Primus Vitória. Especializada em revestimentos e pavimentos cerâmicos.</p>
    <p>Esta é a nossa paixão,
      a arte de fazer <span>azulejos</span>.</p>
    </div>
  </div>

  <div class="red-lotus">
    <svg width="653" height="793" viewBox="0 0 653 793" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d)">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M550.658 700.466C513.392 738.149 468.93 764.657 421.898 779.99C363.505 799.027 322.808 795.003 233.255 781.809C183.909 766.996 137.648 739.968 98.5828 700.726C-26.3227 574.164 -26.0657 369.897 98.5828 243.334L188.021 152.895V152.376L328.09 11L428.837 112.614L554.514 239.696C679.162 365.738 679.162 570.525 554.514 696.828C553.229 698.127 551.943 698.907 550.658 700.206V700.466Z" fill="#DB3617"/>
      </g>
      <defs>
      <filter id="filter0_d" x="0" y="0" width="653" height="793" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
      <feFlood flood-opacity="0" result="BackgroundImageFix"/>
      <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"/>
      <feOffset dy="-6"/>
      <feGaussianBlur stdDeviation="2.5"/>
      <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.1 0"/>
      <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow"/>
      <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape"/>
      </filter>
      </defs>
      </svg>
  </div>

  <div class="two-lotus lotus">
    <div class="lotus-content">
    <h2>O nossos produtos</h2>
    <div>---</div>
    <p>A Primus Vitoria está vocacionada para a produção de pavimentos e revestimentos cerâmicos</p>
    <p>Floor Tiles & Wall Tiles</p>
    <a href="" title="">
      <p class="primary-btn">Ver Produtos</p>
  </a>
    </div>
  </div>

  <div class="three-lotus lotus">
    <div class="lotus-content">
    <h2>Política Verde</h2>
    <div>---</div>
    <p>Porque acreditamos que temos responsabilidade de criar um mundo melhor, desenvolvemos e produzimos numa política activa na área do Ambiente.</p>
    </div>
  </div>

  <div class="four-lotus lotus">
    <div class="lotus-content">
    <h2>Azulejo Português</h2>
    <div>---</div>
    <p>Associada à produção de produtos de maior valor acrescentado destacamos a replicação de azulejos tradicionais portugueses, hoje fortemente impulsionada pelo crescente mercado de reabilitação urbana.</p>
    <a href="" title="">
      <p class="primary-btn">Wall Tiles</p>
  </a>
    </div>
  </div>
</section>

<section class="cta-contactos">
  <h2>Fale connosco</h2>
  <div>---</div>
  <p>O parque fabril da Primus Vitória conta com dois polos industriais em Aveiro.As peças fabricadas possuem um alto padrão de qualidade e conquistam clientes no mercado interno e externo.</p>
  <a href="" title="">
    <p class="primary-btn">Contactos</p>
  </a>
</section>

<section class="blog-section">
  <h2>Últimos Acontecimentos</h2>
  <div>---</div>
  <p>Veja aqui as notícias mais importantes dos últimos tempos.</p>
  
  <a href="" title="">
    <article>
      <img src="" alt="">
      <h3>Headline notícia 1</h3>
      <div>---</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, ac, vitae diam elit ut convallis suscipit orci. </p>
    </article>
  </a>
</section>
</main>