---
layout: default
---

<section class="intro-banner">
  <h1>Vamos criar ambientes únicos</h1>
  <p>Esta é a nossa paixão, a arte de fazer <span>azulejos</span></p>
  <div class="img-container">
    <div class="intro-img" aria-hidden="true"></div>
  </div>
  <div class="banner-subtitle">
    <svg></svg>
    <p>Série I - Brilho 001.0 (Branco) 20x20 + 301.0 (Antracite) 20x20</p>
  </div>
</section>

<section class="four-sections">
  <div>
    <h2>A primus Vitoria</h2>
    <div>---</div>
    <p>Ambiente, tecnologia, qualidade e sustentabilidade, são algumas palavras presentes na Primus Vitória. Especializada em revestimentos e pavimentos cerâmicos.</p>
    <p>Esta é a nossa paixão,
      a arte de fazer <span>azulejos</span>.</p>
  </div>

  <div></div>

  <div>
    <h2>O nossos produtos</h2>
    <div>---</div>
    <p>A Primus Vitoria está vocacionada para a produção de pavimentos e revestimentos cerâmicos</p>
    <p>Floor Tiles & Wall Tiles</p>
    <a href="" title="">
      <p>ver produtos</p>
    </a>
  </div>

  <div>
    <h2>Política Verde</h2>
    <div>---</div>
    <p>Porque acreditamos que temos responsabilidade de criar um mundo melhor, desenvolvemos e produzimos numa política activa na área do Ambiente.</p>
  </div>

  <div>
    <h2>Azulejo Português</h2>
    <div>---</div>
    <p>Associada à produção de produtos de maior valor acrescentado destacamos a replicação de azulejos tradicionais portugueses, hoje fortemente impulsionada pelo crescente mercado de reabilitação urbana.</p>
    <a href="" title="">
      <p>wall tiles</p>
    </a>
  </div>
</section>

<section class="cta-contactos">
  <h2>Fale connosco</h2>
  <div>---</div>
  <p>O parque fabril da Primus Vitória conta com dois polos industriais em Aveiro.As peças fabricadas possuem um alto padrão de qualidade e conquistam clientes no mercado interno e externo.</p>
  <a href="" title="">
    <p>contactos</p>
  </a>
</section>

<section class="blog-section">
  <h2>Últimos Acontecimentos</h2>
  <div>---</div>
  <p>Veja aqui as notícias mais importantes dos últimos tempos.</p>
  
  <a href="" title="">
    <article>
      <img src="" alt="">
      <h3>Headline notícia 1</h3>
      <div>---</div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sapien, ac, vitae diam elit ut convallis suscipit orci. </p>
    </article>
  </a>
</section>
