---
layout: default_no-nav
---

<section class="intro-section">
  <h1><span>Hi there,</span> Fernando speaking</h1>
  <div class="img-container">
    <div class="intro-img" aria-hidden="true"></div>
  </div>
</section>

<section class="introduction-sec">
  <h2 class="answer">I have a problem solving creative mind.</h2>
  <p>Love to illustrate, design products, and code here and there.</p>
</section>

<section class="introduction-sec">
  <div class="chatbox">
    <p>Tell me more about you! 😌</p>
  </div>
  <h2 class="answer pad-top">
    Okeei: cooking enthusiast, humoristic idiot, wannabe artist.
  </h2>
  <p>Not just that, I like adventure, the sea and cinema.</p>
</section>

<section>
  <div class="chatbox">
    <p>What are you doing? 🤔</p>
  </div>
  <p class="pad-top">2019 -</p>
  <h2 class="answer">Currently I'm working at a cool place called PACSIS,</h2>
  <p>doing User Interface design and coding it!</p>
  <h2 class="answer pad-top">& Studying</h2>
  <p class="postgradwidth">
    in a post-graduate course called Digital Design Experience, super
    challenging and mind changing.
  </p>
</section>

<section class="intro-projects introduction-sec">
  <h3>Projects</h3>
  <ul>
    <li class="pad-bot">
      {% include card-modal.html article="evaristo" %}
    </li>
    <li>
      {% include card-modal.html article="hope foundation" %}
    </li>
  </ul>
</section>

<section>
  <div class="chatbox">
    <p>And before that?</p>
    <p class="mar">You unemployed or smth?</p>
  </div>
</section>

<section class="introduction-sec colab-sec">
  <h2 class="answer">No, I was very lucky with my colaborations,</h2>
  <p>and worked with the most amazing people.</p>
  <span class="hand-loop">👇</span>
  <div class="img-container">
    <div class="colab-img" aria-hidden="true"></div>
  </div>
</section>

<section class="introduction-sec">
  <p>2019</p>
  <h2 class="answer informationwidth">
    Information Planet allowed me to work in strategy and brand.
  </h2>
  <p class="pad-bot">
    My responsibilities involved branding, editorial, and promotional objects.
  </p>
  {% include card-modal.html article="booklet" %}
</section>

<section class="introduction-sec">
  <p>2017-2019</p>
  <h2 class="answer physiswidth">Explored many design fields at Physis Studio.</h2>
  <p>Worked remotely as a generalist designer in studio.</p>
  <ul class="intro-physis">
    <li class="pad-bot">
      {% include card-modal.html article="stricta" %}
    </li>
    <li class="pad-bot">
      {% include card-modal.html article="clickhouse" %}
    </li>
    <li>
      {% include card-modal.html article="bewatt" %}
    </li>
  </ul>
</section>

<section class="introduction-contacts introduction-sec">
  <h3 class="answer contactswidth">
    Now that you know what I do, We should work together! Reach out to:
  </h3>
  {% include myemail.html%} {% include external-links.html %}
  <div></div>
</section>
