---
layout: default
---
<main>
    <section>
        <div class="banner-wrapper">
            <div class="banner"></div>
        </div>
    </section>

    <section>
        <h1>Os nossos produtos</h1>
        <p>A Primus Vitoria está vocacionada para a produção de (pavimentos e) revestimentos cerâmicos (Floor Tiles & Wall Tiles) e divide-se em duas grandes vertentes: uma delas associada a produtos de menor valor acrescentado e outra associada a produtos de maior valor acrescentado onde destacamos a replicação de azulejos tradicionais portugueses, hoje fortemente impulsionada pelo crescente mercado de reabilitação urbana.</p>

        <h2>O que procura?</h2>
    </section>

    <section>
        <ul>
        <li>
            <svg></svg>
            <h3>Wall tiles</h3>
            <h4>Revestimento</h4>
        </li>

        <li>
            <svg></svg>
            <h3>Floor tiles</h3>
            <h4>Pavimento</h4>
        </li>
        </ul>
    </section>
</main>