---
layout: default
---

<section>
    <div class="banner-wrapper">
        <div class="banner"></div>
    </div>
</section>

<section>
    <ul>
        <li>svg</li>
        <li>icon</li>
        <li><h1>Wall tiles</h1></li>
        <li>Revestimento</li>
    </ul>
    <div></div>
    <h2>Como quer decorar a sua parede?</h2>
</section>

<section>
    <ul>
        <li>
            <div></div>
            <div>
                <svg></svg>
                <h3>Technical</h3>
                <i></i>
                <p>Um vasto leque de cores lisas e intensas manufaturadas pelos mais altos padrões de qualidade, com características muito versáteis e que permitem um infinito de combinações de tamanho e cor.</p>
            </div>
        </li>
    </ul>
</section>