---
layout: default_w-nav
---

<section class="intro-works">
  <h1>I've helped build some incredible products</h1>
</section>

<section class="digital-work">
  <h2 class="worktag">Some of my recent work</h2>
  <p>
    Focused on making a positive impact with a clean 
and user-friendly experience.
  </p>
  {% include bigcard-modal.html %}
</section>

<section class="traditional-work">
  <h2 class="worktag">Traditional work that I have done</h2>
  <p>
    Before working in digital products, as a visual designer
I developed my visual design skills.
  </p>

  <ul>
    <li>
      {% include card-modal.html article="booklet" %}
    </li>
    <li>
      {% include card-modal.html article="stricta" %}
    </li>
    <li>
      {% include card-modal.html article="clickhouse" %}
    </li>
    <li>
      {% include card-modal.html article="bewatt" %}
    </li>
  </ul>
</section>

<section class="contacts-work">
  <span>👋</span>
  <h3>Don’t be shy. Say hi!</h3>
  <p>
    Do you have a project or an idea that could use some help? Let’s work
    together!
  </p>
  <p class="mail-label">{{site.email}}</p>
  <p>
    <a
      class="secondary-btn"
      href="mailto:fernandonunescaldeira@gmail.com?subject=Hey Fernando let's talk!"
      title="Click to send me an email"
      >Get in touch</a
    >
  </p>
  <div></div>
</section>
